<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <meta name="x-app-version" content="<%= VUE_APP_VERSION %>" />
    <meta name="x-updated-time" content="<%= VUE_APP_UPDATED_TIME %>" />
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_903284_yv0aevu1gw.css" />
    <title>new</title>
  </head>

  <body>
    <noscript>
      <strong
        >We're sorry but course-web doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
