/* theme color */
$--color-primary: #666;
$--color-success: #13ce66;
$--color-warning: #FFBA00;
$--color-danger: #ff4949;
$--color-info: #1E1E1E;
// button
$--button-primary-font-color:white;
$--button-primary-background-color:$theme-color;
$--button-primary-border-color:$theme-color;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
