<template>
  <div class="wrapper">
    <div class="login">
      <div class="type">
        <span :class="{ 'active-type': loginType === 'wx' }" @click="handleWxLogin">扫码登录</span>
        <span :class="{ 'active-type': loginType === 'idForm' }" @click="loginType = 'idForm'">账号登录</span>
        <span :class="{ 'active-type': loginType === 'messageForm' }" @click="loginType = 'messageForm'">短信登录</span>
      </div>
      <!-- 账号登陆 -->
      <el-form ref="idForm" :model="idForm" :rules="rules" v-if="loginType === 'idForm'" hide-required-asterisk>
        <el-form-item prop="username" class="base" label="账号">
          <el-input v-model="idForm.username" placeholder="账号" />
        </el-form-item>
        <el-form-item prop="password" class="base" label="密码">
          <el-input v-model="idForm.password" type="password" placeholder="密码" />
        </el-form-item>
        <el-form-item prop="captcha" class="base captcha" label="校验码" v-if="showCaptchaDigest">
          <el-input v-model="idForm.captcha" placeholder="校验码" class="code-input" />
          <el-image
            style="float: right; width: 8rem; height: 3.2rem; cursor: pointer"
            :src="captchaDigestBase64"
            v-if="captchaDigestBase64"
            fit="cover"
            @click="getCaptchaDigest"
          ></el-image>
        </el-form-item>
        <el-button class="login-button" type="primary" :loading="loading" @click="handleLogin">登录</el-button>
        <!-- <el-divider>
          还没有账号？
          <span class="other">去注册</span>
        </el-divider> -->
      </el-form>
      <!-- 手机验证码登录 -->
      <el-form ref="messageForm" :model="messageForm" :rules="rules" v-if="loginType === 'messageForm'">
        <el-form-item prop="phone" class="base">
          <el-input v-model.number="messageForm.phone" placeholder="手机号" />
        </el-form-item>
        <el-form-item prop="phoneCaptcha" class="base code">
          <el-input v-model="messageForm.phoneCaptcha" placeholder="验证码" class="code-input" />
          <el-button ref="code" class="code-but" @click="handlePhoneCode" :disabled="disabledGetCode">{{
            codeText
          }}</el-button>
        </el-form-item>
        <el-button class="login-button" type="primary" :loading="mesLoading" @click="handleMessageLogin"
          >登录/注册</el-button
        >
      </el-form>
      <!-- 微信登录 -->
      <div v-if="loginType === 'wx'" id="login_container" class="wx-wrapper" />
    </div>
  </div>
</template>
<script>
import rules from "@/assets/js/utils/rules";
import { phoneCode, getWxInfo, captcha } from "@/api/user";

export default {
  name: "Login",
  data() {
    return {
      loading: false,
      mesLoading: false,
      disabledGetCode: false,
      codeText: "获取验证码",
      timeNum: 60,
      countDownTime: 60,
      timer: null,
      loginType: "wx",
      redirect: null,
      otherQuery: null,
      checkbox: false,
      rules,
      showCaptchaDigest: true,
      captchaDigestBase64: undefined,
      captchaDigest: undefined,
      idForm: {
        username: "",
        password: "",
        captcha: undefined
      },
      messageForm: {
        phone: null,
        phoneCaptcha: null
      },
      appInfo: {}
    };
  },
  watch: {
    $route: {
      handler: function(route) {
        const query = route.query;
        if (query) {
          this.redirect = query.redirect;
          this.otherQuery = this.getOtherQuery(query);
        }
      },
      immediate: true
    },
    loginType(newV, oldV) {
      if (oldV !== "wx") this.$refs[oldV].clearValidate();
    }
  },
  mounted() {
    this.handleWxLogin();
  },
  methods: {
    // 获取短信验证码
    handlePhoneCode() {
      this.$refs.messageForm.validateField("phone", err => {
        if (!err) {
          phoneCode(this.messageForm.phone).then(res => {
            if (res && res.data) this.messageForm.phoneCaptcha = res.data;
          });
          if (this.countDownTime === this.timeNum) {
            this.installSetInterval();
            this.codeText = this.countDownTime + "s";
            this.disabledGetCode = true;
          } else {
            this.codeText = "重新获取验证码";
            this.disabledGetCode = false;
          }
        }
      });
    },
    // 设置定时器
    installSetInterval() {
      const that = this;
      that.timer = setInterval(function() {
        that.countDownTime--;
        if (that.countDownTime < 2) {
          clearInterval(that.timer);
          that.codeText = "重新获取验证码";
          that.disabledGetCode = false;
          that.countDownTime = that.timeNum;
        } else {
          that.codeText = that.countDownTime + "s";
          that.disabledGetCode = true;
        }
      }, 1000);
    },
    getCaptchaDigest() {
      return captcha().then(res => {
        const { captcha, captchaDigest } = res.data;
        this.captchaDigestBase64 = captcha;
        this.captchaDigest = captchaDigest;
      });
    },
    // 用户名密码登录
    handleLogin() {
      this.$refs.idForm.validate(valid => {
        if (valid) {
          this.loading = true;
          this.$store
            .dispatch("user/login", this.idForm)
            .then(res => {
              if (res === "needCaptcha") {
                this.showCaptchaDigest = true;
                this.loading = false;
                return this.getCaptchaDigest();
              }
              this.$router.push({
                path: this.redirect || "/",
                query: this.otherQuery
              });
              this.loading = false;
            })
            .catch(() => {
              this.loading = false;
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 手机号登录
    handleMessageLogin() {
      this.$refs.messageForm.validate(valid => {
        if (valid) {
          this.mesLoading = true;
          this.$store
            .dispatch("user/login", {
              ...this.messageForm,
              loginType: "telephone"
            })
            .then(() => {
              this.$router.push({
                path: this.redirect || "/",
                query: this.otherQuery
              });
              this.mesLoading = false;
            })
            .catch(() => {
              this.mesLoading = false;
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 获取微信授权信息
    getWxInfo() {
      return getWxInfo().then(res => {
        this.appInfo = res;
      });
    },
    // 生成微信登录二维码
    generateQrCode() {
      const { appId, redirectUri, scope, state, origin } = this.appInfo;
      let redirectUrl;
      if (location.hash.split("?")[1]) {
        redirectUrl = `${redirectUri}?origin=${encodeURIComponent(origin)}&${decodeURIComponent(
          location.hash.split("?")[1]
        )}`;
      } else {
        redirectUrl = `${redirectUri}?origin=${encodeURIComponent(origin)}`;
      }
      const that = this;
      // 利用blob FileReader将样式转成base64赋值给href ,因为本地引入css不可用
      const style =
        " .impowerBox img {width: 17.5rem!important} .impowerBox .title {display: none;}.impowerBox .status {text-align: center;} ";
      const blob = new Blob([style], { type: "text/css;charset=utf-8" });
      const reader = new FileReader();
      reader.readAsDataURL(blob);
      reader.onload = function() {
        if (window.WxLogin) {
          new WxLogin({
            self_redirect: false,
            id: "login_container",
            appid: appId,
            scope,
            redirect_uri: encodeURIComponent(redirectUrl),
            state,
            style: "",
            href: this.result
          });
        } else {
          setTimeout(that.generateQrCode, 500);
        }
      };
    },
    // 微信登录
    async handleWxLogin() {
      if (!window.WxLogin) {
        const addScript = document.createElement("script");
        addScript.type = "text/javascript";
        addScript.src = "http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js";
        document.body.appendChild(addScript);
      }
      this.loginType = "wx";
      await this.getWxInfo();
      this.generateQrCode();
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== "redirect") {
          acc[cur] = query[cur];
        }
        return acc;
      }, {});
    }
  }
};
</script>

<style lang="scss" scoped>
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  // background-size: 100%;
  vertical-align: middle;
  background: url(../assets/image/登录.png) no-repeat 100% / cover;
}

.logo {
  position: absolute;
  top: 15px;
  left: 70px;
}

.login {
  width: 550px;
  min-height: 556px;
  padding: 36px 61px 56px;
  margin-left: 1084px;
  color: $font-color;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
  opacity: 1;
}

.type {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 45px;
  margin-bottom: 89px;
  font-size: 30px;
  line-height: 45px;
  color: #666;
  vertical-align: middle;

  span {
    cursor: pointer;
  }
}

.wx-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 20px;
}

.active-type {
  color: $font-color !important;
}

.cut-off {
  width: 1px;
  height: 16px;
  vertical-align: middle;
  background-color: #e0e0e0;
}

.other {
  color: $theme-color;
}

.base {
  display: flex;
  align-items: center;
  margin-bottom: 54px;
  font-size: 24px !important;

  /deep/.el-form-item__label {
    padding: 0;
    margin-right: 20px;
    font-size: 24px;
    width: 74px;
    white-space: nowrap;
  }

  /deep/ input {
    width: 340px;
    height: 60px;
    font-size: 24px;
    background: #fff;
    border: 1px solid #00234b;
    border-radius: 10px;
    opacity: 1;
  }
}

.login-button {
  display: block;
  width: 200px;
  height: 78px;
  margin: 78px auto 0;
  margin-top: 78px;
  font-size: 24px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
}

.code-input {
  float: left;
  width: 50%;
  margin-right: 20px;
  /deep/ input {
    width: 100% !important;
  }
}

.code-but {
  float: right;
  width: 150px;
  font-size: 16px;
}
.captcha {
  /deep/ .el-image {
    margin-top: 5px;
  }
}
</style>
