<template>
  <div class="personal-wrapper" v-if="originalInfo.user&&originalInfo.user.id">
    <div class="personal-header">
      <img :src="require('/')" alt class="img" />
      <div class="info-img">
        <el-upload
          ref="upload-head"
          action="/api/v1/sys/user/headImg"
          :headers="{Authorization:$store.getters.token}"
          :on-error="uploadHeadError"
          :on-success="uploadHeadSuccess"
          :show-file-list="false"
        >
          <button slot="trigger" class="upload-head">
            <el-avatar
              slot="trigger"
              class="avatar"
              :src="(originalInfo.user&&originalInfo.user.headImg)"
            />
            <img src="/" alt class="upload-head-icon" />
          </button>
        </el-upload>
        <div v-if="!showEditorName" class="info-img-font" @click="showEditorName=true">
          {{originalInfo.user.name||'未命名用户'}}
          <i class="iconfont icon-bianji"></i>
        </div>
        <div v-else class="editor-div">
          <el-input v-model="changedUserInfo.name" placeholder />
          <div>
            <el-button @click="showEditorName=false">取消</el-button>
            <el-button type="primary" @click="handleChangeBasicInfo">确定</el-button>
          </div>
        </div>

        <div v-if="!showEditorIntroduction" @click="showEditorIntroduction=true">
          {{originalInfo.userExtension.introduction||'一句话介绍自己'}}
          <i class="iconfont icon-bianji"></i>
        </div>
        <div v-else class="editor-div">
          <el-input v-model="changedUserExtensionInfo.introduction" placeholder />
          <div>
            <el-button @click="showEditorIntroduction=false">取消</el-button>
            <el-button type="primary" @click="handleChangeBasicInfo">确定</el-button>
          </div>
        </div>
      </div>
    </div>
    <div class="info-wrapper">
      <div class="info-title">基本资料</div>
      <div class="info-basic">
        <div style="display: flex;justify-content: space-between">
          <div>
            <span class="info-left">姓名</span>
            <span class="info-right" v-if="!showEditorBasic">{{originalInfo.user.name}}</span>
            <el-input v-else v-model="changedUserInfo.name" placeholder class="info-input" />
          </div>
          <el-button class="button" @click="showEditorBasic=true">编辑资料</el-button>
        </div>
        <div>
          <span class="info-left">{{isTeacher?"教工号":"学号"}}</span>
          <span class="info-right" v-if="!showEditorBasic">{{originalInfo.userExtension.sno}}</span>
          <el-input v-else v-model="changedUserExtensionInfo.sno" placeholder class="info-input" />
        </div>
        <div>
          <span class="info-left">学校</span>
          <span class="info-right">{{originalInfo.userExtension.school}}</span>
        </div>
        <div v-if="!isTeacher">
          <span class="info-left">学年</span>
          <span class="info-right" v-if="!showEditorBasic">{{originalInfo.userExtension.grade}}</span>
          <el-select
            v-model="changedUserExtensionInfo.grade"
            placeholder="入学年份"
            v-else
            class="info-select"
          >
            <el-option
              v-for="item in gradeOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </div>
        <div>
          <span class="info-left">院系</span>
          <span class="info-right" v-if="!showEditorBasic">{{originalInfo.userExtension.college}}</span>
          <el-select
            v-model="changedUserExtensionInfo.collegeId"
            v-else
            placeholder="学院"
            class="info-select"
            @change="changeCollegeId"
          >
            <el-option
              v-for="item in collegeOptions"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </div>
        <div v-if="!isTeacher">
          <span class="info-left">专业</span>
          <span class="info-right" v-if="!showEditorBasic">{{originalInfo.userExtension.profession}}</span>
          <el-select
            v-model="changedUserExtensionInfo.professionId"
            placeholder="专业"
            v-else
            class="info-select"
          >
            <el-option
              v-for="item in professionOptions"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </div>
        <div v-if="showEditorBasic" class="basic-but">
          <el-button @click="showEditorBasic=false">取消</el-button>
          <el-button type="primary" @click="handleChangeBasicInfo">保存</el-button>
        </div>
      </div>
      <div class="info-title">账号</div>
      <div class="info-account">
        <div v-if="!showEditorAccount">
          <span class="info-left">手机</span>
          <span class="info-right">{{originalInfo.user.phone}}</span>
        </div>
        <div v-else class="editor-phone-div">
          <el-input v-model="changePhone" placeholder="请输入新手机号" />
          <div class="code-div">
            <el-input v-model="phoneCaptcha" placeholder="验证码" class="code-input" />
            <el-button ref="code" class="code-but" @click="getPhoneCodeLogged">获取验证码</el-button>
          </div>
          <div class="basic-but">
            <el-button @click="showEditorAccount=false">取消</el-button>
            <el-button type="primary" @click="handleChangePhone">保存</el-button>
          </div>
        </div>
        <el-button class="button" @click="showEditorAccount=true">修改</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import {
  getInfo,
  modificationInfo,
  getCollegeList,
  getProfessionList,
  phoneCode,
  changePhone
} from "@/api/user";

export default {
  name: "",
  data() {
    return {
      roles: this.$store.getters.roles,
      originalInfo: {},
      changedUserInfo: {},
      changedUserExtensionInfo: {},
      showEditorName: false,
      showEditorIntroduction: false,
      showEditorBasic: false,
      showEditorAccount: false,
      gradeOptions: [],
      collegeOptions: [],
      professionOptions: [],
      phoneCaptcha: null,
      changePhone: ""
    };
  },
  computed: {
    isTeacher() {
      return this.roles.indexOf(this.global.role_teacher) !== -1;
    }
  },
  mounted() {
    this.autoGetInfo();
    this.getGradeList();
    this.getCollegeList();
  },
  methods: {
    autoGetInfo() {
      getInfo().then(res => {
        this.originalInfo = res.data;
        this.changedUserInfo = JSON.parse(JSON.stringify(res.data.user || {}));
        this.changedUserExtensionInfo = JSON.parse(
          JSON.stringify(res.data.userExtension || {})
        );
        this.changedUserExtensionInfo.collegeId &&
          this.getProfessionList(this.changedUserExtensionInfo.collegeId);
      });
    },
    handleChangeBasicInfo() {
      const { name } = this.changedUserInfo;
      const {
        collegeId,
        professionId,
        sno,
        grade,
        introduction
      } = this.changedUserExtensionInfo;
      let college, profession;
      this.collegeOptions.forEach(v => {
        if (v.id === this.changedUserExtensionInfo.collegeId) {
          college = v.name;
        }
      });
      this.professionOptions.forEach(v => {
        if (v.id === this.changedUserExtensionInfo.professionId) {
          profession = v.name;
        }
      });
      if (!/^[0-9]*$/g.test(sno)) {
        this.$message.warning("学号只支持数字");
        return;
      }
      modificationInfo(
        { name },
        {
          collegeId,
          professionId,
          sno,
          college,
          profession,
          grade,
          introduction
        }
      ).then(res => {
        location.reload();
      });
    },
    handleChangePhone() {
      if (!this.phoneCaptcha) {
        this.$message.warning("请输入验证码");
        return;
      }
      changePhone({
        phone: this.changePhone,
        phoneCapcha: this.phoneCaptcha
      }).then(res => {
        location.reload();
      });
    },
    uploadHeadSuccess(response, file, fileList) {
      if (response.status !== 1) {
        this.$message.error("上传失败:" + response.msg);
        return;
      }
      location.reload();
    },
    uploadHeadError(e) {
      e => this.$message.error("上传失败", e);
    },
    getGradeList() {
      const currentYear = this.moment().format("YYYY");
      const gradeOptions = Array.from({ length: 4 }, (x, index) => {
        const item = {};
        item.value = +currentYear - 3 + index;
        item.label = `${+currentYear - 3 + index}年`;
        return item;
      });
      this.gradeOptions = gradeOptions;
    },
    getCollegeList() {
      // 1 鲁东大学
      getCollegeList(1).then(res => (this.collegeOptions = res.data));
    },
    getProfessionList(collegeId) {
      getProfessionList(collegeId).then(
        res => (this.professionOptions = res.data)
      );
    },
    changeCollegeId(collegeId) {
      if (this.roles.indexOf(this.global.role_teacher) !== -1) {
        return;
      }
      this.changedUserExtensionInfo.professionId = null;
      this.professionOptions = null;
      this.getProfessionList(collegeId);
    },
    getPhoneCodeLogged() {
      if (!this.changePhone) {
        this.$message.warning("请输入新手机号");
        return;
      }
      phoneCode(this.changePhone).then(res => (this.phoneCaptcha = res.data));
    }
  }
};
</script>

<style lang='scss' scoped>
.info-wrapper {
  padding: 58px 78px 30px;
}
.personal-wrapper {
  width: 100%;
  height: 100%;
}
.personal-header {
  width: 100%;
  height: 307px;
  position: relative;
  color: #ffffff;
}
.img {
  height: 100%;
  width: 100%;
}
.info-img {
  position: absolute;
  width: 500px;
  top: 44px;
  left: calc(50vw - 250px);
  display: flex;
  flex-direction: column;
  align-items: center;
  /deep/.el-upload {
    overflow: hidden;
  }
}
.avatar {
  width: 110px;
  height: 110px;
}
.info-img-font {
  font-size: 30px;
  margin: 15px 0 20px;
}
.upload-head {
  width: 110px;
  height: 110px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px;
}
.upload-head-icon {
  width: 50px;
  opacity: 60%;
  transform: translate(0px, -71px);
}
.editor-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  .el-input {
    /deep/input {
      width: 145px;
      height: 25px;
      text-align: center;
    }
  }
  button {
    width: 67px;
    height: 22px;
    padding: 0;
  }
}
.info-input {
  display: inline-block;
  width: 300px;
  margin-top: 10px;
  /deep/input {
    width: 145px;
    height: 35px;
    text-align: center;
  }
}
.info-select {
  display: inline-block;
  width: 145px;
  height: 35px;
  margin-top: 10px;
  /deep/input {
    height: 35px;
  }
}
.info-title {
  font-size: 20px;
  color: #333;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 20px;
  line-height: 1;
  font-weight: bold;
}
.info-left {
  min-width: 75px;
  line-height: 32px;
  color: #969696;
  display: inline-block;
}
.info-right {
  line-height: 32px;
  color: #595959;
}
.info-basic {
  margin: 10px 0 30px;
}
.info-account {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.button {
  height: 30px;
  padding: 5px 10px;
}
.basic-but {
  margin-top: 20px;
  .el-button {
    height: 30px;
    padding: 5px 10px;
  }
}
.code-div {
  display: flex;
  margin-top: 10px;
}
.code-but {
  margin-left: 10px;
  width: 100px;
  padding: 5px 10px;
}
.editor-phone-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  .el-input {
    /deep/input {
      width: 145px;
      height: 25px;
      text-align: center;
    }
  }
}
</style>