<template>
  <div class="wrapper">
    <img src="/" alt class="logo" />
    <ChooseRole v-if="!role" :role.sync="role" />
    <Register v-else :role="role" />
  </div>
</template>
<script>
import ChooseRole from "@/components/register/ChooseRole";
import Register from "@/components/register/Register";

export default {
  name: "",
  data() {
    return {
      role: ""
    };
  },
  beforeRouteLeave(to, from, next) {
    if (to.path === "/login") {
      this.$store.dispatch("user/resetToken");
    }
    next();
  },
  components: { ChooseRole, Register },
  mounted() {
    if (this.$store.getters.roles.length > 0) {
      this.$router.push("/");
    }
  }
};
</script>
   
<style lang='scss' scoped>
.wrapper {
  width: 100%;
  height: 100vh;
  background: url(/) no-repeat 100% / cover;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}
.logo {
  position: absolute;
  top: 15px;
  left: 70px;
}
</style>
   