<template>
  <div class="choose-warpper">
    <div>
      <i class="el-icon-arrow-left" @click="goBack"></i>注册账号
    </div>
    <div class="choose-font">请选择您在日常教学中的实际身份</div>
    <div class="img-wrapper">
      <div>
        <img
          src="/"
          alt
          @click="chooseRole=global.role_teacher"
          class="choose-img"
        />
        <div class="img-font">我是老师/助教</div>
      </div>
      <div>
        <img
          src="/"
          alt
          @click="chooseRole=global.role_student"
          class="choose-img"
        />
        <div class="img-font">我是学生</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "",
  props: { role: String },
  data() {
    return {};
  },
  computed: {
    chooseRole: {
      get() {
        return this.role;
      },
      set(val) {
        this.$emit("update:role", val);
      }
    }
  },
  methods: {
    goBack() {
      this.$store
        .dispatch("user/resetToken")
        .then(() => this.$router.push("/login"));
    }
  }
};
</script>

<style lang='scss' scoped>
.choose-warpper {
  width: 550px;
  margin: auto;
  background-color: #fff;
  text-align: center;
  padding: 48px 0 60px;
  font-size: 26px;
  color: #333333;
  position: relative;
}
.choose-font {
  font-size: 16px;
  color: #999999;
  margin: 29px 0 70px;
}
.img-wrapper {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin: auto;
  img {
    cursor: pointer;
  }
}
.img-font {
  font-size: 18px;
  color: #333333;
}
.el-icon-arrow-left {
  position: absolute;
  top: 50px;
  left: 33px;
}
.choose-img {
  width: 113px;
  height: 113px;
}
</style>
