<template>
  <div class="register-warpper">
    <div class="title">
      <i class="el-icon-arrow-left" @click="goBack"></i>
      <span>{{role===global.role_teacher?"老师注册":"学生注册"}}</span>
    </div>
    <el-input v-model="user.name" placeholder="姓名" />
    <el-input v-model="userExtension.sno" placeholder="学号" v-if="role===global.role_student" />
    <el-select v-model="userExtension.collegeId" placeholder="学院" @change="changeCollegeId">
      <el-option v-for="item in collegeOptions" :key="item.id" :label="item.name" :value="item.id"></el-option>
    </el-select>
    <el-select
      v-model="userExtension.professionId"
      placeholder="专业"
      v-if="role===global.role_student"
    >
      <el-option
        v-for="item in professionOptions"
        :key="item.id"
        :label="item.name"
        :value="item.id"
      ></el-option>
    </el-select>
    <el-select v-model="userExtension.grade" placeholder="入学年份" v-if="role===global.role_student">
      <el-option
        v-for="item in gradeOptions"
        :key="item.value"
        :label="item.label"
        :value="item.value"
      ></el-option>
    </el-select>
    <el-button class="login-button" type="primary" :loading="loading" @click="handleLogin">登录</el-button>
  </div>
</template>

<script>
import {
  modificationInfo,
  getCollegeList,
  getProfessionList
} from "@/api/user";

export default {
  name: "",
  props: { role: String },
  data() {
    return {
      user: { name: null },
      userExtension: {
        sno: null,
        collegeId: null,
        professionId: null,
        grade: null
      },
      redirect: null,
      otherQuery: null,
      loading: false,
      gradeOptions: [],
      collegeOptions: [],
      professionOptions: []
    };
  },
  watch: {
    $route: {
      handler: function(route) {
        const query = route.query;
        if (query) {
          this.redirect = query.redirect;
          this.otherQuery = this.getOtherQuery(query);
        }
      },
      immediate: true
    }
  },
  mounted() {
    this.getGradeList();
    this.getCollegeList();
  },
  methods: {
    goBack() {
      this.$store
        .dispatch("user/resetToken")
        .then(() => this.$router.push("/login"));
    },
    handleLogin() {
      if (this.role === this.global.role_student) {
        if (!/^[0-9]*$/g.test(this.userExtension.sno)) {
          this.$message.warning("学号只支持数字");
          return;
        }
        if (
          !this.user.name ||
          !this.userExtension.sno ||
          !this.userExtension.collegeId ||
          !this.userExtension.professionId ||
          !this.userExtension.grade
        ) {
          this.$message.warning("请填写完整信息");
          return;
        }
      } else {
        if (!this.user.name || !this.userExtension.collegeId) {
          this.$message.warning("请填写完整信息");
          return;
        }
      }

      this.loading = true;
      let college, profession;
      this.collegeOptions.forEach(v => {
        if (v.id === this.userExtension.collegeId) {
          college = v.name;
        }
      });
      this.professionOptions.forEach(v => {
        if (v.id === this.userExtension.professionId) {
          profession = v.name;
        }
      });
      modificationInfo(
        {
          ...this.user,
          roleKeys: [this.role]
        },
        {
          ...this.userExtension,
          school: "鲁东大学",
          schoolId: 1,
          college,
          profession
        }
      )
        .then(() => {
          this.$router.push({
            path: this.redirect || "/",
            query: this.otherQuery
          });
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== "redirect") {
          acc[cur] = query[cur];
        }
        return acc;
      }, {});
    },
    getGradeList() {
      const currentYear = this.moment().format("YYYY");
      const gradeOptions = Array.from({ length: 4 }, (x, index) => {
        const item = {};
        item.value = +currentYear - 3 + index;
        item.label = `${+currentYear - 3 + index}年`;
        return item;
      });
      this.gradeOptions = gradeOptions;
    },
    getCollegeList() {
      // 1 鲁东大学
      getCollegeList(1).then(res => (this.collegeOptions = res.data));
    },
    getProfessionList(collegeId) {
      // 1 鲁东大学
      getProfessionList(collegeId).then(
        res => (this.professionOptions = res.data)
      );
    },
    changeCollegeId(collegeId) {
      if (this.role !== this.global.role_student) {
        return;
      }
      this.userExtension.professionId = null;
      this.professionOptions = null;
      this.getProfessionList(collegeId);
    }
  }
};
</script>

<style lang='scss' scoped>
.register-warpper {
  width: 560px;
  margin: auto;
  background-color: #fff;
  text-align: center;
  padding: 48px 65px;
  font-size: 26px;
  color: #333333;
  text-align: center;
  position: relative;
  > * {
    margin-bottom: 16px;
    width: 430px;
  }
}
.title {
  font-size: 24px;
  color: #333333;
}
.el-icon-arrow-left {
  position: absolute;
  top: 50px;
  left: 33px;
}
.login-button {
  width: 430px;
  height: 56px;
}
</style>
