<template>
  <div class="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>
<style lang="scss" scoped>
.app {
  overflow-y: hidden;
  overflow-x: auto;
}
</style>

<style lang="scss">
*,
dd,
dl,
dt,
html,
li,
ul {
  padding: 0;
  margin: 0;
}
/* 重置列表元素 */
ul,
ol {
  list-style: none;
}
* {
  outline: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  vertical-align: middle;
}
//定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
//定义滑块 内阴影+圆角
::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, 0.3);
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
//定义滚动条轨道 内阴影+圆角
::-webkit-scrollbar-track {
  background-color: rgba(50, 50, 50, 0.1);
  border-radius: 10px;
}
</style>
